DATABASE_URL=postgresql+psycopg2://postgres:LFt650Kz46n30QT0@db.pjivokvfugkngettnyfr.supabase.co:5432/postgres?sslmode=require

TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxxxxxxxxxxxxxx

ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxx

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

FROM_EMAIL=noreply@startup-radar.com
TO_EMAILS=your-email@example.com,another-email@example.com

PORT=8000

SCHEDULE_INTERVAL_HOURS=6

ENABLE_SCHEDULER=true

